h1 { 
    margin-top:22px;
}

h1, h2, h3, h4 {
    color: rgb(3, 94, 5);
    font-family: 'Bitter', serif;
}

p, ul {
    font-family: 'Bitter', serif;
}

body, .accordion-item, .accordion-button, .accordion-button:not(.collapsed){
    background-color: rgb(250, 237, 212);
}

.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed), .accordion-button, a{
    color:purple;
}

#hello-container{
    position: absolute;
    border-radius: 12px;
    display: block;
    background-color: rgba(66, 1, 112, .7);
    min-width:300px;
    min-height: 400px;
    height: auto;
    padding: 16px;
    top:40px;
    left:40px;
    z-index: 2;
   }