h1 { 
    margin-top:22px;
}

h1, h2, h3 {
    color: rgb(3, 94, 5);
    font-family: 'Bitter', serif;
}

p, ul {
    font-family: 'Bitter', serif;
}

body, .accordion-item, .accordion-button, .accordion-button:not(.collapsed){
    background-color: rgb(250, 237, 212);
}

.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed), .accordion-button, a{
    color:purple;
}